<%= @course.name %>

  <% @course.locations.each do |location| %>
    <%= link_to location.name, courses_path(:id => location.id, :table => "Location") %> 
  <% end %></p>
  <h4>Course Description: </h4>
  <p><%= @course.desc %></p>
  <p><%= updated_at</p>
<%= link_to courses_path, class: 'btn btn-primary' do %> courses list 
<% end %>
